.vscode
old
*.exe
*.obj
*.EXE
*.OBJ
*.err
*.ERR
*.DS_Store
assets
ASSETS
bin
BIN
errors.txt
**/BIN  
**/bin
**/*.OBJ
**/*.obj
**/*.EXE
**/*.exe
**/*.ERR
**/*.err
**/.DS_Store
**/.ds_store
books
BOOKS
PGROUND