# DCODE's CONFIG FILE
#
# Vincebus Riveruptum 2026

###############################################
# DEBUG MODE
###############################################
# 0 : Disabled
# 1 : Enabled
DEBUG=0

# Logging method for debugging, depends
# on DEBUG setting.
# file : Will print on a logs.txt file 
# console : Will print on screen in the moment.
# both : Will use both methods at same time.
LOGS=file

###############################################
# File limits
###############################################

# File resizing on usage/demand
# disabling this will limit
# the maximum of lines on the file
# if is a new one, tied to file headroom size
# if is an opened one, the total size + headroom
# DO NOT DISABLE 
FILE_RESIZE=1

# File headroom size in KB
## Default: 4 (4KB)
FILE_HEADROOM=8

# Max line length, this is the char.
## number limit on each new line.
## Lowering will optimize memory usage.
MAX_LINE_LENGTH=384


###############################################
# VIDEO SETTINGS
###############################################

# TEXT MODE
# 1 = default   
# 2 = 80x43
# 3 = 80x50
# 8 = 130x60
DEFAULT_TEXT_MODE=1


###############################################
# Editor settings
###############################################

AUTOIDENTING=1
AUTOCLOSING=1
AUTOBRACES=1
TAB_INDICATOR=1
TAB_SPACE_INDICATOR=1

DEFAULT_EXTENSION=.c
AUTOSAVE=false

MOUSE=1

###############################################
# EDITOR CUSTOMIZATION
###############################################

STATUSBAR_COLOR_BG=7
STATUSBAR_COLOR_TEXT=4

# C SYNTAX COLORS

# COLOR_BLACK 0
# COLOR_BLUE 1
# COLOR_GREEN 2
# COLOR_CYAN 3
# COLOR_RED 4
# COLOR_MAGENTA 05
# COLOR_BROWN 6
# COLOR_LIGHT_GRAY 7
# COLOR_DARK_GRAY 8
# COLOR_LIGHT_BLUE 9
# COLOR_LIGHT_GREEN 10
# COLOR_LIGHT_CYAN 11
# COLOR_LIGHT_RED 12
# COLOR_LIGHT_MAGENTA 13
# COLOR_LIGHT_YELLOW 14
# COLOR_WHITE 15

DW_RESWORD_NONE=7
DW_RESWORD_PREPROCESSOR=12
DW_RESWORD_TYPES=11
DW_RESWORD_INT=9
DW_RESWORD_FLOAT=9
DW_RESWORD_CONSTANT=9
DW_RESWORD_CHAR=9
DW_RESWORD_EXPRESSION=12
DW_RESWORD_STRING=14
DW_RESWORD_CONTROL_FLOW=12
DW_RESWORD_DOS_FUNC=11
DW_RESWORD_STD_FUNC=11
DW_RESWORD_COMMENT=8
DW_RESWORD_FUNCTION=10
